extends index.pug

//- this will replace the block content in index.pug when we go to /article
block content
  p.container.about My name is Amy and my husband and I founded Amy Cakes in 2017. He's the brains behind the magic. While he handles the numbers I make the most delicious cakes you will (hopefully) ever taste. I also makes cheescakes and other goodies and can even do catering around the holidays. Please contact me if you'd like to purchase a cake.
