doctype html
html
  head
    title Amy Cakes
    include stylesheets.pug
  body
    include nav

    h1.welcome Welcome to Amy Cakes!

    //- VIEW
    block content
      .container-about
        .row
          img.sm4.profile-pic(src='/img/chef_amy.png')
          .section-about
            p It has always been my dream to own my own bakery! I dabble in all things sweet but my husband loves my cheesecake. Please have a look at just some of the goodies we make and come by our store or give us a call!


    include footer

    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/materialize/dist/js/materialize.min.js')
